.sectionTwo{
    padding:60px 50px;
}

.sectionTwoItems{
    display: flex;
    margin: 0px auto;
    /* width: 20%; */
    flex-wrap: wrap;
    gap: 28px;

    /* justify-content: space-between; */
}

@media screen  and (max-width:950px){
    .sectionTwo{
        padding:10px 20px;
        gap: 15px;
    }
    
    
}

@media screen  and (max-width:500px){
    .sectionTwoItems{
        gap: 0px;
        justify-content: space-between;
        gap: 10px;
    }
    
}
