.profile{
    padding: 50px;
    
}
.adminDashBoard{
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
    color: var(--primary-color-desktop--);
}

.profileDetails{
    display: flex;
    
    flex-wrap: wrap;
    gap: 20px;
}
.profileDetails>div{
    margin-bottom: 10px;
    flex-basis: 40%;
}
.profileDetails>div>p{
    margin-bottom: 5px;
}
.profileDetails>div>input{
    width: 80%;
    outline: none;
    padding: 8px 16px;
    border: 1px solid rgb(93, 93, 93);
}
.profileDetails>div>textarea{
    resize: none;
    /* height: 200px; */
    
    /* width: 400px; */
    /* flex-basis: ;
     */
     width: 80%;
    height: 100px;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(93, 93, 93);
}
.profileButtons{
    display: flex;
    gap: 30px;
}
.profileButtons>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    
    cursor: pointer;
    width: fit-content;
    margin-top: 10px;
}
.profileUpdateButton{
    background-color: rgb(243, 46, 105); 

}
.profileButtons>div>p{
    color: white;
    font-size: 14px;
}
.profileSignoutButton{
    background-color: blueviolet;
}
@media screen and (max-width:500px) {

    .profile{
        padding: 20px;
    }
    .profileDetails>div{
        flex-basis: 100%;
    }
    .profileDetails>div>input{
        width: 100%;
    }
    .profileDetails>div>textarea{
        width: 100%;
    }
    .profileButtons{
        gap: 10px;
    }
    .profileButtons>div{
        width: 100%;
    }
    .profileButtons{
        /* display: block; */
        flex-direction: column;
    }
    
}